.index-content {
	width: 1010px;
	margin: 40px auto;
	display: flex;
	justify-content: space-between;
}

.article-summary {
	width: 620px;
	padding: 30px;
	box-sizing: border-box;
	background-color: #ffffff;
}
.article-summary h2 {
	font-size: 24px;
	font-weight: normal;
}
.article-title {
	margin: 10px 0 25px 0;
	clear: both;
	overflow: hidden;
	color: #999999;
}
.article-title strong {
	margin-right: 25px;
	font-weight: normal;
}
.article-title i, .article-title em {
	font-style: normal;
} 
.article-title span:nth-child(1) {
	float: left;
}
.article-title span:nth-child(2) {
	float: right;
}
.article-title span:nth-child(2) em {
	font-size: 18px;
	margin: 0 5px;
	font-style: italic;
}

/* 音频播放器 start */
.article-player {
	margin-top: 30px;
}
.jp-controls-holder {
	display: flex;
	height: 37px;
	line-height: 37px;
}
.jp-controls {
	color: #ee5044;
	font-size: 20px;
}
.jp-controls .jp-pause {
	display: none;
}
.jp-progress {
	width: 100%;
	height: 3px;
	background-color: #cccccc;
	margin: 17px 8px;
}
.jp-progress .jp-play-bar {
	background-color: #ee5044;
	height: 3px;
}
/* 音频播放器 end */

.article-content {
	width: 620px;
	margin-top: 30px;
	padding: 30px;
	box-sizing: border-box;
	background-color: #ffffff;
}
.article-tags {
	width: 620px;
	padding: 0 30px;
	height: 36px;
	line-height: 36px;
	box-sizing: border-box;
	background-color: #ffffff;
	margin-top: 15px;
}
.article-tags strong, .article-tags span {
	margin-right: 10px;
}
.article-anchor {
	display: flex;
	margin-top: 30px;
	justify-content: space-between;
	padding: 0 30px;
	box-sizing: border-box;
}
.article-anchor a {
	color: #999999;
	text-decoration: none;
	font-size: 14px;
}
.article-anchor a:hover {
	color: #ee5044;
}


.article-reletive {
	width: 360px;
}
.author-content {
	background-color: #ffffff;
	padding: 30px;
	border-bottom: 1px dashed #eeeeee;
	display: flex;
	justify-content: space-between;
	color: #707070;
}
.author-avator {
	width: 80px;
	height: 80px;
}
.author-avator img {
	width: 100%;
}
.author-info {
	width: 190px;
}
.author-name {
	font-size: 16px;
	padding-bottom: 25px;
}
.author-detail {
	display: flex;
	justify-content: space-between;
}
.author-opecation {
	color: #ffffff;
	background-color: #ee5044;
	height: 30px;
	line-height: 30px;
	padding: 0 18px;
	position: relative;
	top: 3px;
	left: 0px;
}
.article-reletive-detial {
	padding: 20px 0;
	font-size: 18px;
	display: flex;
	justify-content: space-around;
	background-color: #ffffff;
	color: #999999;
}
.article-reletive-detial > div {
	display: flex;
	height: 50px;
	line-height: 50px;
}
.article-reletive-detial-icon {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #cccccc;
	border-radius: 50%;
}
.article-reletive-detial-icon i {
	font-style: normal;
}
.article-reletive-detial-icon span {
	display: none;
	font-size: 12px;
}
.article-reletive-detial-text {
	margin-left: 12px;
}
.article-reletive-detial-shang {
	position: relative;
	top: 0px;
	left: 0px;
}
.article-reletive-detial-shang img {
	display: none;
	position: absolute;
	top: -211px;
	left: -53px;
}