.index-content {
	width: 1010px;
	margin: 40px auto;
	display: flex;
	justify-content: space-between;
}

.article-summary {
	width: 620px;
	padding: 30px;
	box-sizing: border-box;
	background-color: #ffffff;
}
.article-summary h2 {
	font-size: 24px;
	font-weight: normal;
}
.article-title {
	margin: 10px 0 25px 0;
	clear: both;
	overflow: hidden;
	color: #999999;
}
.article-title strong {
	margin-right: 25px;
	font-weight: normal;
}
.article-title i, .article-title em {
	font-style: normal;
} 
.article-title span:nth-child(1) {
	float: left;
}
.article-title span:nth-child(2) {
	float: right;
}
.article-title span:nth-child(2) em {
	font-size: 18px;
	margin: 0 5px;
	font-style: italic;
}

/* 音频播放器 start */
.article-player {
	margin-top: 30px;
}
.jp-controls-holder {
	display: flex;
	height: 37px;
	line-height: 37px;
}
.jp-controls {
	color: #ee5044;
	font-size: 20px;
}
.jp-controls .jp-pause {
	display: none;
}
.jp-progress {
	width: 100%;
	height: 3px;
	background-color: #cccccc;
	margin: 17px 8px;
}
.jp-progress .jp-play-bar {
	background-color: #ee5044;
	height: 3px;
}
/* 音频播放器 end */

.article-content {
	width: 620px;
	margin-top: 30px;
	padding: 30px;
	box-sizing: border-box;
	background-color: #ffffff;
}
.article-tags {
	width: 620px;
	padding: 0 30px;
	height: 36px;
	line-height: 36px;
	box-sizing: border-box;
	background-color: #ffffff;
	margin-top: 15px;
}
.article-tags strong, .article-tags span {
	margin-right: 10px;
}
.article-anchor {
	display: flex;
	margin-top: 30px;
	justify-content: space-between;
	padding: 0 30px;
	box-sizing: border-box;
}
.article-anchor a {
	color: #999999;
	text-decoration: none;
	font-size: 14px;
}
.article-anchor a:hover {
	color: #ee5044;
}
.article-comments-wrap {
	margin: 30px 0;
}
.send-article-comment {
	display: flex;
}
.article-comments-wrap .send-article-comment-input {
	width: 550px;
	height: 50px;
	padding: 10px;
	box-sizing: border-box;
	background-color: #ffffff;
}
.article-comments-wrap .send-article-comment-input textarea {
	width: 100%;
	border: none;
	outline: none;
	color: #999999;
}
.article-comments-wrap .send-article-comment-btn {
	background-color: #ee5044;
	width: 70px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #ffffff;
}
.article-comments {
	margin-top: 20px;
}
.article-comments-title {
	background: #ffffff;
	color: #ee5044;
	line-height: 40px;
	font-size: 12px;
	width: 100px;
	text-align: center;
}
.article-comments-content {
	width: 100%;
	background-color: #ffffff;
}
.article-comments-content > div {
	display: flex;
	padding: 30px 20px;
	border-bottom: 1px dashed #eeeeee;
}
.article-comments-content > div:last-child {
	border-bottom: none;
}
.article-comments-content-avatar {
	width: 50px;
	height: 50px;
}
.article-comments-content-avatar img {
	width: 100%;
}
.article-comments-content-info {
	margin-left: 10px;
}
.article-comments-content-info p {
	line-height: 200%;
}
.article-comments-content-info p strong {
	margin-right: 50px;
	font-size: 14px;
}

.article-relative {
	width: 360px;
}
.author-content {
	background-color: #ffffff;
	padding: 30px;
	border-bottom: 1px dashed #eeeeee;
	display: flex;
	justify-content: space-between;
	color: #707070;
}
.author-avatar {
	width: 80px;
	height: 80px;
}
.author-avatar img {
	width: 100%;
}
.author-info {
	width: 190px;
}
.author-name {
	font-size: 16px;
	padding-bottom: 25px;
}
.author-detail {
	display: flex;
	justify-content: space-between;
}
.author-opecation {
	color: #ffffff;
	background-color: #ee5044;
	height: 30px;
	line-height: 30px;
	padding: 0 18px;
	position: relative;
	top: 3px;
	left: 0px;
}
.article-relative-detail {
	padding: 20px 0;
	font-size: 18px;
	display: flex;
	justify-content: space-around;
	background-color: #ffffff;
	color: #999999;
}
.article-relative-detail > div {
	display: flex;
	height: 50px;
	line-height: 50px;
}
.article-relative-detail-icon {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #cccccc;
	border-radius: 50%;
}
.article-relative-detail-icon i {
	font-style: normal;
}
.article-relative-detail-icon span {
	display: none;
	font-size: 12px;
}
.article-relative-detail-text {
	margin-left: 12px;
}
.article-relative-detail-shang {
	position: relative;
	top: 0px;
	left: 0px;
}
.article-relative-detail-shang img {
	display: none;
	position: absolute;
	top: -211px;
	left: -53px;
}
.article-relative-articles {
	background-color: #ffffff;
	padding: 30px 30px 0px 30px;
	margin-top: 30px;
}
.article-relative-articles h3 {
	font-weight: bold;
	font-size: 14px;
	border-left: 3px solid #ee5044;
	padding-left: 8px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}
.article-relative-articles h3 i {
	cursor: pointer;
	margin-left: 10px;
}
.article-relative-articles h3 i:hover {
	color: #ee5044;
}
.article-relative-article-panel {
	width: 300px;
	height: 280px;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
}
.article-relative-article-panel-inner {
	width: 1500px;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
}
.article-relative-articles ol {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.article-relative-articles li {
	width: 135px;
}
.article-relative-articles img {
	width: 100%;
	display: block;
}
.article-relative-articles p {
	width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	margin: 10px 0 20px 0;
}
.article-relative-articles a {
	color: #333333;
	text-decoration: none;
}
.article-relative-articles a:hover {
	color: #ee5044;
}

.other-channel-articles {
	background-color: #ffffff;
	padding: 30px;
	margin-top: 30px;
}
.other-channel-articles h3 {
	font-weight: bold;
	font-size: 14px;
	border-left: 3px solid #ee5044;
	padding-left: 8px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}
.other-channel-articles h3 a {
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #999999;
}
.other-channel-articles h3 a:hover {
	color: #ee5044;
}
.other-channel-articles li {
	border-bottom: 1px dashed #eeeeee;
	padding: 8px 3px;
	color: #999999;
}
.other-channel-articles li p {
	line-height: 170%;
}
.other-channel-articles li a {
	color: #070707;
	text-decoration: none;
}
.other-channel-articles li a:hover {
	color: #ee5044;
}
.article-bottom-banner {
	width: 360px;
	margin-top: 20px;
}
.article-bottom-banner img {
	width: 100%;
}