.user-content, .user-header-background {
    width: 100%;
}
.user-header-background img {
    width: 100%;
}
.user-avatar {
    text-align: center;
    margin-top: -75px;
}
.user-avatar img {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #ffffff;
}
.user-introduce p {
    line-height: 180%;
    text-align: center;
}
.user-introduce p:nth-child(1) {
    font-size: 20px;
    color: #333333;
}
.user-relations {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
.user-relations-left {
    background-color: #ffffff;
    padding: 10px 15px;
}
.user-relations-left em {
    font-style: normal;
    margin: 0 3px;
    color: #cccccc;
}
.user-relations-left span:hover {
    color: #ee5044;
    cursor: pointer;
}
.user-panels-wrap {
    width: 1010px;
    margin: 60px auto 20px auto;
}
.user-panels-tab ul {
    display: flex;
}
.user-panels-tab li {
    height: 40px;
    line-height: 40px;
    margin-right: 70px;
    padding: 0 10px;
    font-size: 14px;
    cursor: pointer;
}
.user-panels-tab li:hover {
    font-weight: bold;
    border-bottom: 2px solid #ee5044;
    margin-bottom: -2px;
}
.user-panels-tab .active {
    font-weight: bold;
    border-bottom: 2px solid #ee5044;
    margin-bottom: -2px;
}

.user-panels {
    margin-top: 30px;
}
.user-panel {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    height: 400px;
    overflow-y: scroll;
}
.user-panel a {
    color: #707070;
    text-decoration: none;
}
.user-panel-article {
    width: 215px;
    height: 200px;
    background: #ffffff;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 20px;
    border-radius: 3px;
}
.user-panel-article div {
    width: 100%;
}
.user-panel-article div:nth-child(2) {
    height: 55px;
    line-height: 62px;
    text-align: center;
}
.user-panel-article img {
    display: block;
    width: 100%;
}

.user-panel-following, .user-panel-follower {
    width: 80px;
    background: #ffffff;
    margin: 0 20px;
    border-radius: 3px;
}
.user-panel-following div, .user-panel-follower div {
    width: 100%;
}
.user-panel-following div:nth-child(2), .user-panel-follower div:nth-child(2) {
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.user-panel-following img, .user-panel-follower img {
    display: block;
    width: 100%;
}