{{define "navigation"}}
	<header class="common-header">
		<section class="common-inner">
				<section class="common-logo">
					<img src="/static/images/logo_icon.png" alt="悦读" />
					<span>悦读 FM</span>
				</section>
				<ul class="common-navigation">
					{{range .channels}}
						<li>
                            <a href="/channels/{{.ID}}" target="_self">
                                {{.Name}}
                            </a>
						</li>
					{{end}}
				</ul>
				<section class="common-operation">
					<div class="common-search">
						<input type="text" name="search" />
						<i class="icon-search" title="查询搜索"></i>
					</div>
					<div class="common-login">
                        {{if .userInfo}}
                            <span>{{.userInfo.Username}}</span>
                        {{else}}
                            <span class="common-login-btn">登录</span>
                            <span class="common-register-btn">注册</span>
                        {{end}}
					</div>
				</section>
		</section>
	</header>
    <script type="text/javascript">
        // 当前频道选定
        var pathname = window.location.pathname;
        var matched = /^\/channels\/(\d)+/.test(pathname) && pathname.match(/^\/channels\/(\d)+/);

        if (matched) {
            $('a', '.common-navigation').eq(matched[1] - 1).addClass('hover');
        }
    </script>

	{{/* 登录模态框 */}}
	<section class="common-login-panel-wrap common-modal-panel-wrap">
        <section class="common-modal-panel">
            <h3>登录</h3>
            <div class="common-modal-panel-content">
                <div>
                    <input type="text" name="username" placeholder="请输入你的用户名" />
                </div>
                <div>
                    <input type="password" name="password" placeholder="请输入你的密码" />
                </div>
				<div class="common-login-panel-content-captcha">
					<input type="text" name="captcha" placeholder="请输入验证码" />
					<img src="http://m.buoudd.com/dafdaababaaa420c98fe181709ef138c.png" />
					<button>获取验证码</button>
				</div>
            </div>
            <div class="common-modal-panel-tip">
                <span>忘记密码</span>
            </div>
            <div class="common-login-panel-btn common-modal-panel-btn">
                登录
            </div>
            <section class="common-login-panel-close common-modal-panel-close">
                <span>x</span>
            </section>
        </section>
	</section>
	<script type="text/javascript">
		// 登录
		$('.common-login-btn').on('click', function () {
			$('body').css({ height: '100%', overflow: 'hidden' });
			$('.common-login-panel-wrap').show();
        });

		// 取消登录
		$('.common-login-panel-close').on('click', function () {
            $('body').css({ height: 'auto', overflow: 'visible' });
            $('.common-login-panel-wrap').hide();
        });

		// 登录验证码
		$('button', '.common-login-panel-content-captcha').on('click', function () {
		    var $btnElement = $(this);

			$.get('/captcha').then(function (result) {
			    if (result.rc !== "0") {
			        alert(result.msg);
			        return;
				}

				$btnElement.hide().prev('img').show().attr("src", result.data.img).attr("data-captcha", result.data.captchaId);
            });
        });

		// 再次获取验证码
		$('img', '.common-login-panel-content-captcha').on('click', function () {
		    var $imgElement = $(this);
			var captchaId = $imgElement.attr('data-captcha');

			$.get('/captcha', { captchaId: captchaId }).then(function (result) {
				if (result.rc !== "0") {
					alert(result.msg);
					return;
				}

				$imgElement.attr('src', result.data.img);
            });
        });

		// 登录
		$('.common-login-panel-btn').on('click', function () {
		    var username = $('input[name="username"]', '.common-login-panel-wrap').val().trim();
		    var password = $('input[name="password"]', '.common-login-panel-wrap').val().trim();
            var captchaId = $('img', '.common-login-panel-content-captcha').attr('data-captcha');
            var captchaDigits = $('input[name="captcha"]', '.common-login-panel-wrap').val().trim();

            if (!username || !password || !captchaId || !captchaDigits) {
                alert("请将信息填充完整")
            }

			$.post('/login', { username: username, password: password, captchaId: captchaId, captchaDigits: captchaDigits}).then(function (result) {
				if (result.rc === "0") {
				    // 关闭模态框
                    $('.common-login-panel-close').click();

                    // 记录 token
                    window.localStorage.setItem("token", result.data);
					window.setTimeout(function () {
						window.location.reload();
                    }, 1000);
                }
            })
        });
	</script>

	{{/* 注册模态框 */}}
	<section class="common-modal-panel-wrap common-register-panel-wrap">
        <section class="common-modal-panel">
            <h3>注册</h3>
            <div class="common-modal-panel-content">
                <div>
                    <input type="text" name="username" placeholder="请输入你的用户名" />
                </div>
                <div>
                    <input type="password" name="password" placeholder="请输入你的密码" />
                </div>
                <div>
                    <input type="email" name="email" placeholder="请输入你的邮箱" />
                </div>
            </div>
            <div class="common-modal-panel-tip">
                <span>注册悦读，开始阅读之旅</span>
            </div>
            <div class="common-register-panel-btn common-modal-panel-btn">
                注册
            </div>
            <section class="common-modal-panel-close common-register-panel-close">
                <span>x</span>
            </section>
        </section>
	</section>
	<script type="text/javascript">
        // 注册
        $('.common-register-btn').on('click', function () {
            $('body').css({ height: '100%', overflow: 'hidden' });
            $('.common-register-panel-wrap').show();
        });

        // 取消注册
        $('.common-register-panel-close').on('click', function () {
            $('body').css({ height: 'auto', overflow: 'visible' });
            $('.common-register-panel-wrap').hide();
        });

    </script>
{{end}}