<!DOCTYPE html>
<html>
	<head>
		{{template "head"}}
		<link href="/static/index/index.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		{{template "navigation" .}}
		<section class="index-content">
			<section class="article">
				<section class="article-summary">
					<h2>{{.article.Title}}</h2>
					<p class="article-title">
						<span>
							<strong>
								<i class="icon-pencil"></i>
								<em>{{.article.Author}}</em>
							</strong>
							<strong>
								<i class="icon-microphone"></i>
								<em>{{.article.AnchorInfo.Username}}</em>
							</strong>
							<strong>
								<i class="icon-time"></i>
								<em class="article-during">{{.article.During | formatTimeDuring}}</em>
							</strong>
						</span>
						<span>播放<em>{{.article.PlayNumber}}</em>次</span>
					</p>
					<section>
						<img src="{{.article.CoverImg}}" />
					</section>
					<section class="article-player">
                        <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                        <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                            <div class="jp-type-single">
                                <div class="jp-gui jp-interface">
                                    <div class="jp-controls-holder">
                                        <div class="jp-controls">
											<div class="jp-play">
												<i class="icon icon-play"></i>
											</div>
                                            <div class="jp-pause">
												<i class="icon icon-pause"></i>
											</div>
                                        </div>
                                        <div class="jp-progress">
                                            <div class="jp-seek-bar">
                                                <div class="jp-play-bar"></div>
                                            </div>
                                        </div>
                                        <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</section>
				</section>
				<section class="article-content">
					{{.article.ContentText | unescaped}}
				</section>
				<section class="article-tags">
					<strong>标签：</strong>
					{{range $tag := .article.Tags}}
						<span>{{$tag.Name}}</span>
					{{end}}
				</section>
				<section class="article-anchor">
					<a href="#">上一篇</a>
					<a href="#">下一篇</a>
				</section>
				<section class="article-comments-wrap">
					<section class="send-article-comment">
						<div class="send-article-comment-input">
							<textarea placeholder="说点什么吧!" style="resize:none"></textarea>
						</div>
						<div class="send-article-comment-btn">
							评论
						</div>
					</section>
					<section class="article-comments">
						<div class="article-comments-title">相关评论(2)</div>
						<div class="article-comments-content">
							{{range $commentInfo := .comments}}
                                <div>
                                    <div class="article-comments-content-avatar">
                                        <img src={{$commentInfo.UserAvatar}}>
                                    </div>
                                    <div class="article-comments-content-info">
                                        <p>
                                            <strong>{{$commentInfo.Username}}</strong>
                                            <span>{{$commentInfo.CommentTime | formatTimeString}}</span>
                                        </p>
                                        <p>{{$commentInfo.CommentContent}}</p>
                                    </div>
                                </div>
							{{end}}
						</div>
					</section>
				</section>
			</section>
			<section class="article-relative">
				<section class="author-content">
					<div class="author-avatar">
						<img src="{{.article.AnchorInfo.Avatar}}" alt="avatar" />
					</div>
					<div class="author-info">
						<p class="author-name">
							<span>{{.article.AnchorInfo.Username}}</span>
                            <i class="icon-microphone"></i>
						</p>
						<div class="author-detail">
							<div>
								<p>作品数：{{.article.AnchorInfo.Articles}}</p>
								<p>粉丝数：{{.article.AnchorInfo.Flowers}}</p>
							</div>
							<div class="author-opecation">
								<span>关注</span>
							</div>
						</div>
					</div>
				</section>
				<section class="article-relative-detail">
					<div>
						<div class="article-relative-detail-icon">
                            <i class="icon icon-thumbs-up"></i>
							<span>赞</span>
						</div>
                        <div class="article-relative-detail-text">{{.article.Supports}}</div>
					</div>
					<div>
						<div class="article-relative-detail-icon">
                            <i class="icon icon-heart"></i>
							<span>收藏</span>
						</div>
						<div class="article-relative-detail-text">{{.article.Collections}}</div>
					</div>
					<div>
						<div class="article-relative-detail-icon article-relative-detail-shang">
							<i>赏</i>
							<span>打赏</span>
                            <img src="http://yuedu.fm/static/file/dashang/ca6dddb3503418c59b431d2e702041bf" />
						</div>
					</div>
				</section>
				<section class="article-relative-articles">
					<h3>
						<span>其他相关节目</span>
						<span>
							<i class="icon-angle-left"></i>
							<i class="icon-angle-right"></i>
						</span>
					</h3>
					<div class="article-relative-article-panel">
						<div class="article-relative-article-panel-inner">
							{{range $relativeArticle := .relativeArticlesArray}}
								<ol>
								{{range $article := $relativeArticle}}
									<li>
										<img src="{{$article.CoverImg}}" />
										<p><a href="/article/{{$article.Id}}">{{$article.Title}}</a></p>
									</li>
								{{end}}
								</ol>
							{{end}}
						</div>
					</div>
				</section>
				<section class="other-channel-articles">
					<h3>
						<span>FM悦读频道其他节目</span>
						<a href="#">查看全部</a>
					</h3>
					<ol>
						{{range $article := .relativeArticlesByOtherChannel}}
							<li>
								<p><a href="/article/{{$article.Id}}">{{$article.Title}}</a></p>
								<p>文：{{$article.Author}}  主播：{{$article.AnchorName}}</p>
							</li>
						{{end}}
					</ol>
				</section>
				<section class="article-bottom-banner">
					<img src="http://qingwenyi.com/smedia/upload/1526.jpg" />
				</section>
			</section>
		</section>
	</body>

	{{template "scripts"}}
	<script type="text/javascript" src="/static/library/javascripts/jplayer/jquery.jplayer.min.js"></script>
	<script type="text/javascript" src="/static/index/index.js"></script>
	<script type="text/javascript">
        $("#jquery_jplayer_1").jPlayer({
            ready: function (event) {
                $(this).jPlayer("setMedia", {
                    title: "",
                    mp3: "{{.article.Audio}}"
                });
            },
            swfPath: "/static/library/javascripts/jplayer/jquery.jplayer.swf",
            supplied: "mp3",
            wmode: "window",
            useStateClassSkin: true,
            autoBlur: false,
            smoothPlayBar: true,
            keyEnabled: true,
            remainingDuration: true,
            toggleDuration: true
        });
        $('.jp-play').on('click', function () {
            $(this).hide();
			$('.jp-pause').show();
        });
        $('.jp-stop').on('click', function () {
            $(this).hide();
            $('.jp-pause').show();
        })
	</script>
</html>